#header {
    background-color: rgb(255, 166, 0);
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
}




#Login{
    width: 50%;
    background-color: #fcd993;
    padding: 40px;
    
    border: 4px rgb(255, 166, 0) solid;
    border-radius: 30px;
    box-shadow: 5px 7px 9px rgba(0, 0, 0, 0.421);
}
#cuerpo{
    display: flex;
    justify-content: center;
    height: 85vh;
    align-items: center;
    
}
@media(max-width: 768px){
    #Login{
        width: 90%;
    }
}
