* {
    border: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}



#header {
    background-color: rgb(255, 166, 0);
    color: black;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
}

.menu{
    color: white;
    display: flex;
    justify-content: space-around;
    background-color: rgb(195, 127, 0);
}

.menu>a{
    color: white;
    

}
#titulo{
    margin: 50px;
    background-color: rgb(255, 166, 0);
    padding: 1%;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}


#tabla{
    
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
    
}
table{
    width: 100%;
    background-color: rgb(235, 235, 235);
    text-align: left;
    border-collapse: collapse;
    box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.5);
    border-radius: 30px;
}
th,td{
    padding: 20px;
}
thead{
    background-color: rgb(255, 255, 255);
    border-bottom: solid 5px ;
    color: black;
}
tr:nth-child(even){
    background-color: rgb(255, 255, 255);
}

th:first-child{
    border-top-left-radius: 30px ;
}
